@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
.userMenu__cart-counter, .userMenu__like-counter, .selectProduct a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #101010;
}

.footer a {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #101010;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background: #eaeaea;
}

.header {
  display: inline-grid;
  width: 1110px;
  grid-template-rows: 60px;
  grid-template-columns: 0.5fr 1fr 1fr;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.selectProduct {
  display: flex;
  position: relative;
}
.selectProduct__phone {
  display: inline-block;
  margin-right: 14%;
}
.selectProduct__phone svg {
  position: absolute;
  left: -25px;
}
.selectProduct__headphone svg path {
  fill: #838383;
}
.selectProduct__headphone svg {
  position: absolute;
  left: 115px;
  top: -3px;
}

.userMenu {
  position: relative;
  display: flex;
  justify-content: end;
}
.userMenu__like {
  margin: 3px 10% auto auto;
}
.userMenu__like-counter {
  color: #eaeaea;
  position: absolute;
  background: #ffa542;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: -6px;
  right: 58px;
  text-align: center;
}
.userMenu__cart-counter {
  color: #eaeaea;
  position: absolute;
  background: #ffa542;
  min-width: 19px;
  min-height: 19px;
  border-radius: 50%;
  top: -6px;
  right: -10px;
  text-align: center;
}

.bannerWrapper {
  margin-top: 22px;
}

.banner {
  position: relative;
  width: 1110px;
  height: 197px;
  background: #101010;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
}
.banner img {
  position: absolute;
  right: 87px;
  bottom: -20px;
}
.banner h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: white;
  width: 643px;
  height: 74px;
  margin: 58px auto auto 50px;
}

.productListWrapper {
  margin: 30px auto 30px auto;
}

.productList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
  align-items: center;
}
.productList__items svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 25px 25px;
}

.productCard {
  width: 350px;
  height: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 15px 22px;
}
.productCard__img {
  text-align: center;
  width: 300px;
  height: 290px;
}
.productCard__titlt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}
.productCard__titlt h3 {
  font-style: normal;
  display: inline-block;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
}
.productCard__price {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #ffa542;
}
.productCard__raiting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 16px;
}
.productCard__ratingNam {
  margin: 3px auto auto 10px;
}

.footerWrapper {
  margin-top: 40px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1100px;
  height: 149px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
  padding: 22px;
}
.footer__Logo {
  margin: 10px 20px;
}
.footer__Nav {
  display: flex;
  flex-direction: column;
}
.footer__Nav a {
  margin-top: 10px;
}
.footer__LengBlock {
  margin-top: 10px;
}
.footer__lang {
  margin-top: 33px;
}
.footer__Links {
  margin-top: 20px;
}

.langSelect {
  display: flex;
  flex-direction: row;
}
.langSelect_rus {
  margin-left: 15px;
}
.langSelect_eng {
  margin-left: 15px;
}

.link > a {
  margin-left: 18px;
}